<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h1 class="changeptext">Change Password</h1>
      <form
      [formGroup]="changepasswordform"
      (ngSubmit)="onSubmit()"
      class="my-form"
    >
      <label>Email</label>
      <input 
        type="text"
        class="form-control my-2 p-2"
        formControlName="Email" readonly
        [ngClass]="{ 'is-invalid': submitted && tempData.Email.errors }"
      />
      <div *ngIf="submitted && tempData.Email.errors" class="invalid-feedback">
        <div *ngIf="tempData.Email.errors.required">Email is required</div>
      </div>
      
      
      <button type="submit" class="btn1">SUBMIT</button>
  
       
    </form>
    </div>

  </div>
    
</div>