<div class="main-layout">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar-content">
            <!-- Logo Section -->
            <div class="logo-section">
                <!-- <img class="sidebar-logo" src="../../assets/images/logo.png" alt="Logo"> -->
                <img class="sidebar-logo" src="../../assets/3KT-Logo.png" alt="Logo">
            </div>
            
            <!-- Navigation Menu -->
            <nav class="sidebar-nav">
                <ul class="nav-menu">
                    <li class="nav-item" [routerLinkActive]="['active']" *ngFor="let data of navItem">
                        <a routerLink="{{data.path}}" class="nav-link">
                            <mat-icon class="nav-icon">{{data.icon}}</mat-icon>
                            <span class="nav-text">{{data.name}}</span>
                        </a>
                    </li>
                </ul>
                
                <!-- Logout at bottom -->
                <div class="logout-section">
                    <li class="nav-item" (click)="logout()">
                        <a class="nav-link logout-link">
                            <mat-icon class="nav-icon">logout</mat-icon>
                            <span class="nav-text">Logout</span>
                        </a>
                    </li>
                </div>
            </nav>
        </div>
    </div>

    <!-- Main Content Area -->
    <div class="main-content">
        <!-- Header -->
        <header class="top-header">
            <div class="header-content">
                <div class="header-left">
                    <h1 class="page-title">Tickets</h1>
                </div>
                <div class="header-right">
                    <div class="user-profile" [class.show-dropdown]="isDropdownOpen" (click)="toggleDropdown()">
                        <img src="../../assets/images/img_avatar.png" alt="User Avatar" class="user-avatar">
                        <div class="user-info">
                            <p class="user-name">{{this.username}}</p>
                            <p class="user-role">Administrator</p>
                        </div>
                        <mat-icon class="dropdown-arrow">arrow_drop_down</mat-icon>
                        
                        <!-- Dropdown Menu -->
                        <div class="profile-dropdown" [class.show]="isDropdownOpen">
                            <div class="dropdown-header">
                                <img src="../../assets/images/img_avatar.png" alt="User Avatar" class="dropdown-avatar">
                                <div class="dropdown-user-info">
                                    <p class="dropdown-user-name">{{this.username}}</p>
                                    <p class="dropdown-user-role">Administrator</p>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <ul class="dropdown-menu-list">
                                <li class="dropdown-item" (click)="viewProfile()">
                                    <mat-icon class="item-icon">person</mat-icon>
                                    <span class="item-text">My Profile</span>
                                </li>
                                <li class="dropdown-item" (click)="changepassword()">
                                    <mat-icon class="item-icon">lock</mat-icon>
                                    <span class="item-text">Change Password</span>
                                </li>
                                <li class="dropdown-item logout-item" (click)="logout()">
                                    <mat-icon class="item-icon-logout">logout</mat-icon>
                                    <span class="item-text-logout">Logout</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Page Content -->
        <div class="page-content">
            <router-outlet></router-outlet>
        </div>

        <!-- Footer -->
        <footer class="page-footer">
            <p class="footer-text">
                Copyright 2020 3K Technologies. All Rights Reserved. "3K" is a registered trademark of 3K Technologies
            </p>
        </footer>
    </div>
</div>