.global-loader-overlay{
  position: fixed;
  inset:0;
  background: rgba(15,23,42,0.45);
  backdrop-filter: blur(6px);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:99999;
}

/* Loader container */

.modern-loader{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:18px;
}

/* Ring */

.loader-ring{
  width:90px;
  height:90px;
  border-radius:50%;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* rotating gradient border */

.loader-ring::before{
  content:"";
  position:absolute;
  inset:0;
  border-radius:50%;
  padding:3px;
  background: conic-gradient(
    #2563eb,
    #3b82f6,
    #60a5fa,
    #2563eb
  );

  animation: spin 1.5s linear infinite;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);

  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

/* icon */

.support-icon{
  font-size:46px;
  height: 50px;
  width: 50px;
  color:white;
  animation: pulse 1.5s infinite;
}

/* text */

.loader-text{
  color:white;
  font-size:15px;
  font-weight:500;
}

/* dots */

.dots span{
  animation: blink 1.4s infinite;
}

.dots span:nth-child(2){animation-delay:.2s;}
.dots span:nth-child(3){animation-delay:.4s;}

/* animations */

@keyframes spin{
  100%{transform:rotate(360deg);}
}

@keyframes pulse{
  0%{transform:scale(1);}
  50%{transform:scale(1.15);}
  100%{transform:scale(1);}
}

@keyframes blink{
  0%,80%,100%{opacity:0}
  40%{opacity:1}
}